body{
    background-color: rgb(1, 1, 34);
    display:flex;
    align-items: center;
    justify-content: center;
    height:auto;
    min-height: 100vh;
}

div {
    background-color: rgb(153, 184, 246);
    border-radius: 15px;
    color: rgb(1,1,34);
    padding: 25px;
    font-family: cursive;
    font-weight: 450;
    margin:15px;
}

h1,p{
    /*text-align: center;*/
}

.next{
    background-color: rgb(1, 1, 34);
    color:rgb(153, 184, 246);
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.image {
    width:300px;
    aspect-ratio:1/1.17;
    margin-left: auto;
    margin-right: auto;
    display:block;
    border-radius: 12px;
}

.hb{
    text-align: center;
}