body{
    background-color: rgb(33, 18, 51);
    display:flex;
    align-items: center;
    justify-content: center;
    height:auto;
    min-height: 100vh;
}

div {
    background-color: rgb(153, 184, 246);
    border-radius: 15px;
    color:  rgb(33, 18, 51);
    padding: 25px;
    font-family: cursive;
    font-weight: 450;
    margin:15px;
}

h1,p{
    /*text-align: center;*/
}

.next{
    background-color: rgb(183, 147, 250);
    color rgb(33, 18, 51);
    display:block;
    margin-left: auto;
    margin-right: auto;
    font-size:40px;
}